extends layout

block content

	div.new-form-div
		div.message-title 
			h1 Sign up as a member to make posts!
		form.form-style(action="/sign-up" method="POST")
			input.form-item(type="text" name="first_name"
			placeholder="First Name" required)
			input.form-item(type="text" name="last_name"
			placeholder="Family Name" required)
			input.form-item(type="text" name="username"
			placeholder="Username" required)
			input.form-item(type="password" name="password"
			placeholder="Password" required)
			input.form-item(type="password" name="confirmPassword"
			placeholder="Confirm Password" required)
			button.form-item.form-button(type="submit") Sign Up